<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name" defaultValue="app"/>
    <springProperty scope="context" name="APP_ENV" source="app.env" defaultValue="local"/>
    <property name="APP_VERSION" value="${APP_VERSION:-dev}"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message",
                        "service": "${SERVICE_NAME}",
                        "env": "${APP_ENV}",
                        "version": "${APP_VERSION}"
                        }
                    </pattern>
                </pattern>
                <mdc/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>